<div class="container">
  <div class="row justify-content-center">
    <div class="col-auto">
      <img src=" <%= findID.articleImg  %> " width="600" height="400" alt="" />
      <br />
      <hr />
      <br />
      <h1><%= findID.articleTitle %></h1>
      <h4><%= findID.articleSubtitle %></h4>
      <p><%= findID.articleText %></p>
      <br />
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <span> <%= findID.articleCatagory %> </span>
        </div>
        <div class="col-auto">
          <span> <%= findID.articleDate %> </span>
        </div>
      </div>
    </div>
  </div>
</div>
